
body{
    overflow-x: hidden;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: oswald;
}

/* Nav Bar */

#site-header {
    border-top: 10px solid #0088cc;
    padding: 15px 0 10px 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav>li {
    position: relative;
    display: block;
}

.navbar-nav>li {
    padding-right: 39px;
}