

body {
    font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: oswald;
}

/* Header */

#site-header {
    border-top: 10px solid #0088cc;
    padding: 15px 0 10px 0;
}
.img-responsive {
    display: inline-block;
}

[class^='fa-'],
[class*=' fa-'] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Nav Bar */

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #FFF;
    margin-bottom: 0px; 
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.collapse {
    display: none;
}



.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav>li {
    position: relative;
    display: block;
}

.navbar-nav>li {
    padding-right: 39px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 18px;
}

nav.navbar.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    margin-bottom: 0px;
}

nav.navbar.navbar-default .navbar-nav>li>a {
   color: #000;
   cursor: pointer;
   font-weight: 900;
       border-top: 3px solid transparent;
}

nav.navbar.navbar-default .navbar-nav>li>a:hover {
    color: green;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    border-top: 3px solid green;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


/* .method ol li {
display: inline-block;
} */